
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.6em;
}

header {
  padding: 20px 0;
  position: relative;
  font-family: 'Merriweather Sans', sans-serif;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  float: right;
  justify-content: flex-end;
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/jumbo4.jpg');
  background-size: cover;
  color: rgb(223, 35, 35);
  height: auto;
  text-shadow: 2.25px 1.25px 2.25px black;
  padding-right: 15%;
  padding-left: 15%;
  font-size: 100%;
  
}

.jumbotron :link {color: rgb(175, 205, 250);}
.jumbotron :visited{color: rgb(175, 205, 250);}
a:link {color: #e23333;}
a:visited {color: #e23333;}

.jumbotron h2 {
  padding-bottom: 0.5em;
  font-size: 3.5em;
  font-weight: 700;
  font-style: "extra-bold";
  font-family: 'Merriweather Sans', sans-serif;

}

.jumbotron h3 {
  font-size: 1.75em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-shadow: 2.25px 1.25px 2.25px red;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

/*
.col-md-6 {
  margin: 0 0 30px;
}
*/

#ASE img {
  max-width:10em;
  min-width:4em;
  height:auto;
  margin: 1em;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #e23333;
  text-shadow: none;
  background-color: #ffffff;
  margin-top: 20px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #e23333;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.resources {
  font-size: 12px;
  padding: 20px 0;
}

.resources .col-sm-2 {
  display: flex;
  justify-content: flex-end;
}

.resources ul {
  list-style: none;
}

.resources li img {
  width:9em;
  height:13.5em;
}

.article .col-sm-8 {
  float: none;
  margin: 0 auto;
}

footer {
  font-size: 12px;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.navbar{
  background-color: white;
  color: #e23333;
  margin-top: 0;
}

.navbar-inverse .navbar-brand{
  color: #e23333;
}

.navbar-inverse{
  border-color: transparent;
}

.navbar-inverse .navbar-nav {
  margin-top: 4em;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: rgb(209, 62, 57);
}

.navbar-inverse .navbar-nav>li>a:hover
{
  color:#e23333;
}

.navbar p{
  color: #e23333;
  font-size: .5em;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
}

.navbar-brand {
  font-size: 1.5em;
  padding-bottom: 3em;
}

a.navbar-brand img {
  height: 80px;
  width:auto;
}

#faq h3 {
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 5px;
  text-align: left;
}

#faq p {
  text-align: justify;
}

#faq .article img {
  width:200px;
  height: auto;
}

form {
  display: block;
  margin: 20px;
}


input[type=text] {
  border: 1px dotted #999;
  border-radius: 0;
  font-family : inherit;
  font-size   : 100%;
  -webkit-appearance: none;
  width : 100%;
  margin: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

textarea {
  border: 1px dotted #999;
  border-radius: 0;
  font-family : inherit;
  font-size   : 100%;
  -webkit-appearance: none;
  width : 100%;
  margin: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #e23333;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #e23333;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.tab{ text-indent: 40px;}

#rates h2 {
  font-weight: bolder;
  }

#rates h3 {
color: red;
}


#careers p {
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
.carousel-multi-item-2 .col-md-3 {
float: left;
width: 25%;
max-width: 100%; } }

.carousel-multi-item-2 .card img {
border-radius: 2px; }